<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper" >
	<select id="selectPostList" parameterType="com.community.japanese.dto.PostListDTO" 
	resultType="com.community.japanese.vo.Post">
		SELECT * FROM 
		(SELECT ROWNUM RNUM, ORDERED.* FROM 
		(SELECT * FROM POST ORDER BY POSTRAGDATE DESC) ORDERED) 
		 WHERE RNUM BETWEEN ${page}*${range}-${range-1} AND ${page}*${range}
		 AND BOARDIDNUM = ${boardIdNum} 
	</select>
	
	<select id="selectPostCount" parameterType="int" 
	resultType="int">
		SELECT COUNT(*) FROM POST WHERE BOARDIDNUM = ${boardIdNum}
	</select>
</mapper>